name: go-build

on:
  workflow_call:
    inputs:
      go-version:
        description: 'Go version to use'
        required: false
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: endobit/ci/.github/actions/setup-go@v1
        with:
          go-version: ${{ inputs.go-version }}
      - name: Build
        run: go build .
