name: Go Build

on:
  workflow_call:
    inputs:
      go-version:
        description: 'Go version to use'
        required: false
        type: string
        default: '1.26'
      go-experiment:
        description: 'GOEXPERIMENT value'
        required: false
        type: string
      path:
        description: 'Path to build'
        required: false
        type: string
        default: '.'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: endobit/ci/.github/actions/setup-go@v1
        with:
          go-version: ${{ inputs.go-version }}
      - name: Build
        env:
          GOEXPERIMENT: ${{ inputs.go-experiment }}
        run: go build ${{ inputs.path }}
