name: lint-test

on:
  workflow_call:
    inputs:
      go-version:
        description: 'Go version to use'
        required: false
        type: string
        default: '1.26'
    secrets:
      CODECOV_TOKEN:
        description: 'Codecov token for coverage upload'
        required: false

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ inputs.go-version }}
      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ inputs.go-version }}
      - run: go test -v ./... -coverprofile=coverage.txt -covermode=count
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
