name: Go Lint

on:
  workflow_call:
    inputs:
      go-version:
        description: 'Go version to use'
        required: false
        type: string

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: endobit/ci/.github/actions/setup-go@v1
        with:
          go-version: ${{ inputs.go-version }}
      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
