name: go-test

on:
  workflow_call:
    inputs:
      go-version:
        description: 'Go version to use'
        required: false
        type: string
      path:
        description: 'Path to test'
        required: false
        type: string
        default: './...'
    secrets:
      CODECOV_TOKEN:
        description: 'Codecov token for coverage upload'
        required: false

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: endobit/ci/.github/actions/setup-go@v1
        with:
          go-version: ${{ inputs.go-version }}
      - run: go test -v ${{ inputs.path }} -coverprofile=coverage.txt -covermode=count
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
